<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <header>

        <%- include('./partials/header') %>

    </header>

    <main class="admin-product-main">
        <div class="admin-box">
            <h1 class="product-title">Modificar <%= product.name %>
            </h1>
            <form action="/edit/<%= product.id %>?_method=PATCH" method="POST" enctype="multipart/form-data"
                class="registration-form">
                <label for="name" class="registration-box-label" value="<%= product.name %>">Nombre del mapa</label>
                <span class="feedback"></span>
                <input type="text" name="name" id="name" value="<%= product.name %>">
                <label for="description" class="registration-box-label">Descripción</label>
                <span class="feedback"></span>
                <textarea name="description" id="description" cols="30" rows="10"
                    value="<%= product.description %> "></textarea>
                <label for="image" class="registration-box-label">Imagen</label>
                <span class="feedback"></span>
                <input type="file" name="image" id="image" accept="image/*">
                <label for="price" class="registration-box-label">Precio</label>
                <span class="feedback"></span>
                <input type="number" name="price" id="price">
                <div class="registration-box">
                    <button type="submit" class="admin-product-button"><a href="/products/edit/<%= product.id %>"
                            class="button-link">Guardar Cambios</a></button>
                    <button type="reset" class="admin-product-button"><a href="/"
                            class="button-link">Cancelar</a></button>
                </div>
            </form>
            <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
                <button type="submit" class="admin-product-button">Eliminar Mapa</button>
            </form>
        </div>
    </main>

    <footer class="footer footer-fixed">
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>