<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
</head>

<body>
  <header>
    <%- include('./partials/header') %>
  </header>
  <main id="login-main">
    <div id="login-form-box">
      <form action="/users/login" method="POST" class="login-form">

        <div class="login-box">
          <label class="login-input login-box-label" for="user">E-Mail:</label>
          <input type="email" name="user" id="user" class="login-input" value="<%= locals.oldData? oldData.user:null%>">
          <% if (locals.errors && errors.user){%>
            <p>
              <%= errors.user.msg %>
            </p>
            <% } %>
        </div>
        <div class="login-box">
          <label for="password" class="login-input login-box-label">Contraseña:</label>
          <input type="password" name="password" id="password" class="login-input">
          <% if (locals.errors && errors.password){%>
            <p>
              <%= errors.password.msg %>
            </p>
            <% } %>
        </div>

        <div class="login-box">
          <button type="submit" class="login-button">Ingresar</button>
        </div>
      </form>
    </div>

  </main>
  <footer class="footer footer-fixed">
    <%- include('./partials/footer') %>
  </footer>
</body>

</html>