<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <main class="product-detail-main">
        <section class="product-detail-section">
            <article>
                <h4 class="product-detail-title">
                    <%= product.name %>
                </h4>
                <div class="product">
                    <img src="/img/maps/<%= product.image %> " alt="Mapa de <%= product.continent %> "
                        class="product-img" />
                    <p class="product-description prod-desc-detail">
                        <%= product.description %>
                    </p>
                    <div class="price-icon">
                        <p class="price-detail">
                            Precio: <%= product.price.toLocaleString('es-AR', { style: 'currency' , currency: 'ARS' }); %>
                        </p>
                    </div>
                </div>
                <div class="price-icon product-purchase-box">
                    <button type="submit" class="product-detail-button"><a href="/cart"
                            class="product-detail-link">Comprar</a></button>
                    <button type="submit" class="product-detail-button"><a href="/products"
                            class="product-detail-link">+ Carrito</a></button>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <%- include('./partials/footer') %>
    </footer>

</body>

</html>