<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
</head>

<body>
  <header>
    <%- include('./partials/header') %>
  </header>
  <main>
    <section>
      <div class="product-article-container">
        <% for (i=0; i<products.length; i++){%>

          <article class="product-article">
            <h4 class="product-detail-text product-detail-title">
              <%= products[i].name %>
            </h4>
            <div class="product-in-products">
              <div class="products-col1">
                <img src="/img/maps/<%= products[i].image %> " alt="Mapa de <%= products[i].continent %> "
                  class="products-img" />
                <!--<p class="products-price">
                <%= products[i].unitPrice.toLocaleString('es-AR', { style: 'currency', currency: 'ARS' }); %>
              </p>-->
              </div>
              <div class="products-col2">
                <p id="products-description">
                  <%= products[i].description %>
                </p>
                <h3>...</h3>
                <button type="submit" id="view-details-button"><a href="/products/<%= products[i].id %>"
                    id="view-details-link">Ver Detalle</a></button>
              </div>

            </div>
          </article>

          <% } %>
      </div>
    </section>
  </main>
  <footer class="footer">
    <%- include('./partials/footer') %>
  </footer>
</body>

</html>