<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
</head>

<body>
  <header>
    <%- include('./partials/header') %>
  </header>
  <main>
    <section>
      <div class="product-article-container">
        <% for (i=0; i<products.length; i++){%>
    
        <article class="product-article">
          <h4 class="product-detail-text product-detail-title"><%= products[i].name %> </h4>
          <div class="product">
            <img src="/img/maps/<%= products[i].image %> " alt="Mapa de <%= products[i].continent %> " class="product-img" />
            <p class="product-detail-text">
              <%= products[i].description %> 
            </p>
            <div class="product-detail-text price-icon">
              <p class="precio">$<%= products[i].price %></p>
              <i class="fas fa-truck truck-icon"></i>
            </div>
          </div>
        </article>

        <% } %>

    </section>
  </main>
  <footer class="footer">
    <%- include('./partials/footer') %>
  </footer>
</body>

</html>