<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/products.css" />
</head>

<body>
  <header>
    <%- include('./partials/header') %>
  </header>
  <main>
    <section>
      <div class="conteiner">
        <% for (i=0; i<products.length; i++){%>
    
        <article>
          <h4><%= products[i].name %> </h4>
          <div class="product">
            <img src="/img/maps/<%= products[i].image %> " alt="Mapa de <%= products[i].continent %> " class="maps" />
            <p class="des">
              <%= products[i].description %> 
            </p>
            <div class="price-icon">
              <p class="precio">$<%= products[i].price %></p>
              <i class="fas fa-truck truck-icon"></i>
            </div>
          </div>
        </article>

        <% } %>

    </section>
  </main>
  <footer class="footer">
    <%- include('./partials/footer') %>
  </footer>
</body>

</html>