<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <main class="product-detail-main"  id='profile-div'>
        <div class="product product-detail-section" id="profile-section">
            <img src="/img/users/<%=user.image%>" alt="profile picture" class="profile-img" />
            <p><b>Nombres:</b> <%= user.names %> </p>
            <p><b>E-Mail:</b> <%= user.email %> </p>
            <p><b>Domicilio:</b> <%= user.address %> </p>
        </div>
    </main>
    <footer class="footer footer-fixed">
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>